// Externals

// Setup
@import "setup/variables";
@import "setup/functions";
@import "setup/mixins";

// Basics
// @import "basics/typography";
@import "basics/base";
@import "basics/helpers";
@import "basics/layout";
@import "basics/modals";
@import "basics/animations";

// Views
@import "./views/main-app";
@import "./views/homepage";
@import "./views/contact-index";
@import "./views/charts";
@import "./views/main-contacts";

// Components
@import "./cmps/contact-list";
@import "./cmps/contact-preview";
@import "./cmps/contact-filter";
@import "./cmps/contact-detailes";
@import "./cmps/transfer-fund";
@import "./cmps/moves-list";





.profile-btn{
    position: absolute;
    top: 100px;;
    right: 100px;

}



.main-app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    .app-header {
        height: 10vh;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1em;
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(17,176,129,1) 0%, rgba(0,212,255,1) 100%);

        nav {
            .nav-link {
                margin: 0.5em;
            }
        }
    }

    main {
        flex-grow: 1;
        width: 100%;
        height: 86vh;
    }

    > footer {
        background-color: #111;
        color: white;
    }
}